@use 'src/styles/constants/colors';

.container {
  display: flex;
  flex-direction: column;
  width: 370px;
}

.valueContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background-color: colors.$GRAYE;
  border: 1.5px solid colors.$GRAYD;
  border-radius: 5px;
}

.value {
  margin-right: 20px;
  font-weight: 700;
}

.percentageIcon {
  font-size: 0.7rem;
  font-weight: 700;
  color: colors.$GRAYA;
}

.barContainer {
  position: relative;
  width: 100%;
  height: 70px;
  margin-top: 20px;
}

input[type='range'] {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 0 5px;
  background: none;

  &::-webkit-slider-thumb {
    // position: absolute;
    z-index: 2;
    width: 22px;
    height: 22px;
    cursor: pointer;
    background-color: colors.$POINT;
    border: 3px solid colors.$WHITE;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 24%) 0 3px 8px;
    transform: translateY(-8px);
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    // background-color: colors.$GRAYD;
    // border-radius: 2px;
    background: none;
  }
}

.inputTrack {
  position: absolute;
  bottom: 56.5px;
  z-index: 1;
  width: 95%;
  height: 5px;
  margin-left: 10px;
  background-color: colors.$GRAYD;
}

.fillLeftContainer {
  position: absolute;
  bottom: 56.5px;
  z-index: 1;
  // width: 100%;
  height: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.fillLeft {
  // width: 100%;
  height: 5px;
  background-color: colors.$POINT;
}

.circleContainer {
  position: absolute;
  bottom: 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 31px;
  padding: 0 5px;
  overflow-x: visible;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: colors.$GRAYD;
  border-radius: 50%;
}
